doctype html 
html(lang="en")
    head 
        title Landing Page 
    body 
        h1 The future of something magical 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, maxime labore. Iure ab aut blanditiis, odit explicabo repudiandae, inventore quas similique quibusdam accusamus aliquam hic voluptatibus expedita modi dolores rem.
        